<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabs-nuevas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabs-nuevas`
     * paper-tabs creadas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsNuevas extends Polymer.Element {
      static get is() { return 'tabs-nuevas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-nuevas'
          }
        };
      }
    }

    window.customElements.define(TabsNuevas.is, TabsNuevas);
  </script>
</dom-module>
