<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">

<dom-module id="tabs-nuevas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <custom-style>
      <style is="custom-style">
        paper-tab[link] a {
          /* These mixins (from iron-flex-layout) center the link text. */
          @apply --layout-horizontal;
          @apply --layout-center-center;
          color: #2D6683;
          text-decoration: none;
          background-color: lightblue; 
        }
      </style>
    </custom-style>
  <head>
    <paper-tabs   selected="0">
      <paper-tab  link>INFORMATION
      </paper-tab>
      <paper-tab on-click="eventTab" link>
        TAB ONE
      </paper-tab>
      <paper-tab on-click="eventTab" link>
       TAB TWO
      </paper-tab>
      <paper-tab on-click-="eventTab" link>
       SUCCES!
      </paper-tab>
      <paper-tab on-click="eventTab" link>
        CHECKLIST
      </paper-tab> 
    </paper-tabs>
  </head> 
  </template>

  <script>
    /**
     * `tabs-nuevas`
     * paper-tabs creadas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsNuevas extends Polymer.Element {
      static get is() { return 'tabs-nuevas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-nuevas'
          }
        };
      }
      eventTab(e){
        console.log('hjfbjdfhf');
        this.dispatchEvent(
          new CustomEvent('click-tab',{})
        );
      }
    }

    window.customElements.define(TabsNuevas.is, TabsNuevas);
  </script>
</dom-module>
